/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
}
h1 {
  text-align: center;
  background-color: rgb(49, 46, 49);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 10px;
}
nav {
  text-align: center;
  background-color: rgb(223, 209, 223);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 10px;
  text-decoration: none;
}
nav a {
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
}

#container {
  display: flex;
  height: 100px;
  width: 100%;
}
hr {
  border: 2px solid dotted rgb(187, 187, 187);
}
#left {
  height: 140vh;
  width: 20%;
  background-color: rgb(187, 187, 187);
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-align: flex-start;
}
.left1 {
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  margin: 10px;
}
.left1:hover {
  font-weight: bold;
  color: black;
}

#right {
  height: 140vh;
  width: 80%;
  background-color: rgb(240, 156, 156);
}
#right h2 {
  margin: 20px;
  font-size: 25px;
  color: black;
  font-family: "Gilroy";
}
#images {
  display: flex;
  height: 40%;
  justify-content: space-evenly;
}
#about p {
  margin: 10px;
  font-size: 20px;
}
ul {
  margin: 5px;
  display: flex;
  font-size: 20px;
  flex-direction: column;
}
footer {
    background-color: rgb(49, 46, 49);
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  


 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#page {
  flex: 1;
}
h1 {
  text-align: center;
  background-color: rgb(49, 46, 49);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 10px;
}
nav {
  text-align: center;
  background-color: rgb(223, 209, 223);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 10px;
  text-decoration: none;
}
nav a {
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
  color: black;
}
nav a:hover {
  font-weight: bold;
  color: black;
}
#container {
  display: flex;
  width: 100%;
}
hr {
  border-top: 1px dashed black;
}
#left {
  height: 140vh;
  width: 20%;
  background-color: rgb(187, 187, 187);
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-align: flex-start;
}
.left1 {
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  margin: 10px;
}
.left1:hover {
  font-weight: bold;
  color: black;
}
#right {
  height: 140vh;
  width: 80%;
  background-color: rgb(240, 156, 156);
}
#right h2 {
  margin: 20px;
  font-size: 25px;
  color: black;
  font-family: "Gilroy";
}
#images {
  display: flex;
  height: 40%;
  justify-content: space-evenly;
}
#about p {
  margin: 10px;
  font-size: 20px;
}
ul {
  margin-left: 70px;
  font-size: 20px;
  list-style-type: disc;
  padding: 0;
}
footer {
  background-color: rgb(49, 46, 49);
  color: white;
  text-align: center;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 100%;
}
