@import "tailwindcss";

@theme {
  --color-primary: #002B5B;
  --color-accent: #FFD700;
  /* Add custom variables or settings here */
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

