* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy";
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #0e0e0e;
}

html {
  color: wheat;
}

main {
  width: 100%;
}

#templates {
  color: #fff;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#templates .btntext {
  font-size: 1rem;
  border: 1px solid #333030;
  padding: 5px 5px;
  color: #B6A58C;
  border-radius: 5px;
  background-color: #22201E;
  text-align: center;
  width: 100px;
  position: fixed;
  left: 5%;
  bottom: 5%;
  z-index: 1;
  font-weight: 100;
}
#templates .btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  position: fixed;
  right: 5%;
  bottom: 6%;
  z-index: 9;
}
#templates .btns p {
  font-size: 0.9rem;
  font-weight: 6f00;
  border: 1px solid #f1f0f0;
  padding: 10px 10px;
  border-radius: 10px;
  text-align: center;
  width: 150px;
  background-color: #fff;
  color: #000;
}

html {
  font-size: clamp(16px, 1vw, 20px);
}

.view-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
}
.view-1 img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.view-1 h1 {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 100;
  line-height: 1.2;
}
.view-1 p {
  text-align: center;
  font-weight: 100;
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 0.9rem 0;
  opacity: 0.6;
}
.view-1 p br {
  display: none;
}

.view-2 {
  width: 100%;
  padding: 4rem 3rem;
  display: flex;
  justify-content: center;
}
.view-2 .marque {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.view-2 .marque::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0e0e0e, transparent);
}
.view-2 .marque::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  right: 0;
  background-image: linear-gradient(to left, #0e0e0e, transparent);
}
.view-2 .marque .text {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 0 1.5rem;
  animation: marque 5s linear infinite both;
}
.view-2 .marque .text p {
  font-size: 2rem;
  font-weight: 300;
}

.view-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem 1rem;
  color: #dac5a7;
  font-family: "Chillax Light", "Chillax Light Placeholder", sans-serif;
}
.view-3 #boxes {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view-3 #boxes .box1 {
  width: 100%;
  padding: 2rem;
  background-color: #181716;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(126, 125, 125);
}
.view-3 #boxes .box1 h2 {
  font-weight: 100;
  font-size: 1rem;
  opacity: 0.6;
}
.view-3 #boxes .box1 h3 {
  font-weight: 400;
  padding-bottom: 1rem;
  padding-top: 0.6rem;
}
.view-3 #boxes .box1 p {
  font-size: 1rem;
  font-weight: 200;
  width: 100%;
  line-height: 1.4;
}
.view-3 #boxes .box1 #low {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  gap: 1rem;
}
.view-3 #boxes .box1 #low img {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid wheat;
  padding: 0.1rem;
  border-radius: 50%;
  color: white;
  rotate: -10deg;
}
.view-3 #boxes .box1 #low h6 {
  font-size: 1rem;
  font-weight: 400;
}

.view-4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.view-4 .view4text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
}
.view-4 .view4text h2 {
  font-size: 2rem;
  font-weight: 100;
}
.view-4 .view4text .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.view-4 .view4text .icon img {
  width: 2rem;
  height: 2rem;
  border: 1px solid wheat;
  padding: 0.1rem;
  border-radius: 50%;
  color: white;
  rotate: -10deg;
  background-color: #181716;
}
.view-4 .images {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.view-4 .images .firstimg {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}
.view-4 .images .firstimg img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.view-4 .images .firstimg .texts {
  width: 90%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 90%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, -50%); /* Center the text */
  color: white; /* Adjust text color as needed */
  z-index: 1; /* Ensure text is above the image */
  background: rgba(88, 82, 82, 0.5); /* Optional: Add background color to text for better visibility */
}
.view-4 .images .firstimg .texts h2 {
  font-weight: 300;
  opacity: 0.6;
}
.view-4 .images .firstimg .texts h4 {
  font-weight: 300;
  opacity: 0.6;
}

.websites {
  width: 100%;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.websites h4 {
  font-weight: 200;
}
.websites h2 {
  font-size: 2rem;
  font-weight: 200;
}
.websites p {
  text-align: center;
  padding: 1rem;
}

@keyframes marque {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (min-width: 1020px) {
  .view-1 img {
    width: 40%;
  }
  .view-1 h1 {
    font-size: 8rem;
  }
  .view-1 p {
    font-size: 1.7rem;
  }
  .view-1 p br {
    display: block;
  }
  .view-2 .marque {
    width: 80%;
  }
  .view-3 {
    width: 100%;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
  }
  .view-3 #boxes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    padding: 0 1.7rem;
  }
  .view-3 #boxes .box1 {
    border: 1px solid rgb(44, 43, 43);
    width: 30%;
  }
  .view-3 #boxes .box1 h2 {
    font-size: 1rem;
  }
  .view-3 #boxes .box1 p {
    line-height: 1.6rem;
  }
  .view-3 #boxes #low {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    gap: 1rem;
  }
  .view-3 #boxes #low img {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid wheat;
    padding: 0.1rem;
    border-radius: 50%;
    color: white;
    rotate: -10deg;
  }
  .view-3 #boxes #low h6 {
    font-size: 1rem;
    font-weight: 400;
  }
  .view-4 {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  .view-4 .view4text {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .view-4 .images {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }
  .view-4 .images .firstimg {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
  }
  .view-4 .images .firstimg .texts {
    width: 90%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 90%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%); /* Center the text */
    color: white; /* Adjust text color as needed */
    z-index: 1; /* Ensure text is above the image */
    background: rgba(88, 82, 82, 0.5); /* Optional: Add background color to text for better visibility */
  }
  .view-4 .images .firstimg .texts h2 {
    font-weight: 300;
    opacity: 0.6;
  }
  .view-4 .images .firstimg .texts h4 {
    font-weight: 300;
    opacity: 0.6;
  }
}/*# sourceMappingURL=style.css.map */